[submodule "testsuite/rdf-tests"]
	path = testsuite/rdf-tests
	url = https://github.com/w3c/rdf-tests.git
[submodule "testsuite/rdf-star"]
	path = testsuite/rdf-star
	url = https://github.com/w3c/rdf-star/
